<header>
  <nav class="navbar">
      <li class="navitem site-title"><i class="fas fa-beer" href="/"></i><a href="/">News$ite</a></li>
      <li class="navitem navlink active"><a href="/">Home</a></li>
      <li class="navitem navlink"><a href="/trending">Trending</a></li>
      <li class="navitem navlink"><a href="/people">People</a></li>
      <li class="navitem navlink"><a href="/about">About</a></li>
      <li class="navitem navlink"><a href="/write">Write Article</a></li>

  </nav>
  <div class="sidenav">
      <li class="navitem navbar-search">
          <input type="text" id="navbar-search-input" placeholder="Search...">
          <a href="/about">About</a>
          <a href="/services">Services</a>
          <a href="/clients">Clients</a>
          <a href="/contact">Contact</a>
      </li>
  </div>
</header>
