<section id='articles'>
    <main class='acl-container'>
        <p class='description'>
            This website is a prototype to simulate a graphical interface for handling large pieces of text
            with the following features:
        </p>
        <ul>
            <li>Writing new articles</li>
            <li>Show "trending" articles (most visited)</li>
            <li>Dynamically rendering and serving all text content</li>
            <li>Handling all rerouting through clicks/post requests</li>
        </ul>
    </main>
</section>
