<section id='articles'>
    <main class='full-acl-container'>
        <article class="full-acl">
          <div class="full-acl-content">
            <h1 class='full-acl-title'>{{articleTitle}}</h1>
            <p class="full-acl-text">
              {{articleText}}
            </p>
          </div>
        </article>
    </main>
</section>
