<section id='articles'>
    <main class='acl-container'>
        <article class="acl">
          <div class="acl-content">
            <h1 class='acl-title'>{{articleTitle}}</h1>
            <p class="acl-text">
              {{articleText}}
            </p>
          </div>
        </article>
    </main>
</section>
