<section id='articles'>
    <main class='acl-container'>
        {{#each articles as |a|}}
            {{> article articleText = a.articleText articleTitle = a.articleTitle}}
        {{/each}}
    </main>
</section>
