<section id='articles'>
    <main class='acl-container'>
        <ul> <h2>Emails: </h2>
            <li>munblite@oregonstate.edu</li>
            <li>kauffmanza@oregonstate.edu</li>
            <li>petersab@oregonstate.edu</li>
            <li>camerons@oregonstate.edu</li>
        </ul>

        <ul> <h2>Githubs: </h2>
            <li><a href='github/yougren'>www.github.com/yougren</a></li>
            <li><a href='github/Zach-Kauffman'>www.github.com/Zach-Kauffman</a></li>
            <li><a href='github/abbypeterson'>www.github.com/abbypeterson</a></li>
            <li><a href='github/seancameron'>www.github.com/seancameron</a></li>
        </ul>
    </main>
</section>
