<section id='articles'>
    <main class='acl-container'>
        <ul>
            <li>
                Eugene Munblit - HTML/CSS, client-side/server-side javascript, templating, databasing
            </li>
            <li>
                Zach Kauffman - databasing
            </li>
            <li>
                Sean Cameron - HTML/CSS
            </li>
            <li>
                Abby Peterson - HTML/CSS
            </li>
        </ul>
    </main>
</section>
