<section id='articles'>
    <main class='acl-container'>
        <ul><h1>Currently Offered Services:</h1>
            <li>
                We can make websites (sort of...)
            </li>
            <li>
                ...
            </li>
            <li>
                ...
            </li>
        </ul>
        <ul> <h1>Soon to be Offered:</h1>
            <li>
                AI that builds spotify playlists off of a single song as a seed
            </li>
            <li>
                Websites...in React!
            </li>
            <li>
                Google home widgets!
            </li>
        </ul>
    </main>
</section>
