<section id='articles'>
    <main class='acl-container'>
        <textarea class='new-title-input' rows='2', cols='60' placeholder='WRITE TITLE HERE'></textarea>
        <textarea class='new-article-input' rows = '20' cols='60' placeholder="WRITE ARTICLE HERE"></textarea>
    </main>
    <button class='archive-article'>Archive</button>
    <button class='post-article'>Post</button>
</section>
